@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-white;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

.wave-animation {
  animation: wave 1s ease-in-out infinite;
}
